body {
    background-color: darkcyan;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;
  }

  h1 {
    color: white;
    text-align: center;
    border-style: dotted; border-color: white; border-width: thick; border-radius: 25px;
  }

  h2 {
    color: white;
    text-align: center;
  }

  h3 {
    color: white;
    text-align: center;
  }

  p {
    color: white;
    margin-left: 20px;
    font-size: 17px;
  }

  a {
    color: white;
    font-size: 17px;
  }

  a:hover {
    background-color: gray;
  }

  ul {
    color: white;
    font-size: 17px;
  }
  
  ol {
    color: white;
    font-size: 17px;
  }

  .img_ {
    float: right;
    width: 30%;
    height: 20;
    border-radius: 5px;
  }

  footer {
    color: white;
    font-size: 17px;
  }

  .pos_cen {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 15%;
  }

  .pos_cen2 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 30%;
  }

  .pos_cen3 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 80%;
  }

  .pos_cen4 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 131%;
        }

  .pos_cen5 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 185%;
         }

   .pos_cen6 {
     position: absolute;
     width: 70%;
     left: 15%;
     top: 225%;
     margin-left: 10px;
                 }
        